:root {
  --primary-color: #cf3030;
  --secondary-color: #141414;
  --accent-color: #d9d9d9;
  --third-color: #141414ee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--secondary-color);
}

button {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

header button img {
  width: 40px;
}

h1 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 3rem;
}

form,
.wines {
  font-family: "M PLUS 1p", sans-serif;
}

form {
  margin-top: 1.5rem;
  animation: fade 0.5s ease-in;
}

form input[type="text"] {
  padding: 0.5rem;
  font-size: 0.8rem;
  background: none;
  border: none;
  border-left: 1px solid var(--accent-color);
  border-bottom-left-radius: 0.2rem;
  color: var(--accent-color);
}

form input[type="text"]:first-of-type {
  margin-top: 3rem;
}

form input {
  display: block;
  margin-top: 2rem;
  width: 100%;
}

form input[type="text"]:focus {
  outline: none;
  border-left: 2px solid var(--primary-color);
}

form label,
form .file-name {
  color: var(--accent-color);
}

form .input-file-trigger {
  margin-top: 2rem;
  display: inline-block;
  background: transparent;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--accent-color);
  border: 1px solid currentColor;
}

form .input-file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

form .add-btn {
  border-color: var(--primary-color);
  color: var(--primary-color);
  margin: 3rem 1rem 0 0;
  transition: all 0.2s ease-in-out;
}

form .add-btn:hover {
  border-color: var(--secondary-color);
  color: var(--accent-color);
  background-color: var(--primary-color);
}

form .add-btn .adding {
  letter-spacing: 0.1rem;
  animation: adding 1s infinite;
}

form .cancel-btn {
  color: var(--accent-color);
  transition: all 0.2s ease-in-out;
}

form .cancel-btn:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

form button {
  border: 1px solid var(--accent-color);
  padding: 0.5rem;
  background: none;
  width: 150px;
}

.wines {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  animation: fade 0.5s ease-in;
}

.wine {
  color: var(--secondary-color);
  border: 1px solid currentColor;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 5px var(--accent-color);
  transition: transform 0.5s ease-in-out;
}

.wine::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-left: 70px solid var(--third-color);
  position: absolute;
  top: -46px;
  right: -11px;
  transform: rotate(-45deg);
}

.wine:hover {
  animation: scale 0.5s ease-in forwards;
  z-index: 3;
}

.wine-img {
  width: 70px;
  height: 170px;
  margin-right: 1rem;
}

.vue-star-rating {
  position: absolute;
  top: 20px;
  right: -6px;
  transform: rotate(22deg);
  z-index: 2;
}

/* Animations */

@keyframes scale {
  90% {
    transform: scale(1.75);
  }
  100% {
    transform: scale(1.7);
  }
}

@keyframes adding {
  50% {
    letter-spacing: 0.1rem;
  }
  100% {
    letter-spacing: normal;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */

@media (max-width: 900px) {
  .container {
    width: 100%;
    padding: 2rem;
  }

  form button {
    width: 130px;
  }

  .wines {
    grid-template-columns: 1fr;
  }

  .wine:hover {
    animation: none;
    transition: transform 0.3s ease-in;
    transform: scale(1.1);
  }
}
